body{
  background-color: #000;
}
/*.carousel-item.active, .media-library-view--widget .view-header a.carousel-item.is-active, .carousel-item-next, .carousel-item-prev{
  max-height: 800px !important;
}*/
.container-fluid.slide_content {
  padding: 0;
}
.carousel-caption.d-none.d-md-block {
  position: absolute;
  bottom: 75%;
  left: 5%;
  padding: 20px;
  right: unset;
  text-align: left;
}
.carousel-caption.d-none.d-md-block a{
  padding: 10px;
  position: relative;
  border-radius: 25px;
  color: #fff;
  background-color: #5d67d6;
  text-decoration: none;
}
#block-views-block-servicios-block-1 h2{
  text-align: center;
}
#block-views-block-servicios-block-1 .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#block-views-block-servicios-block-1 .view-content .views-row {
  flex-basis: 350px;
  margin-top: 30px;
  padding: 30px;
}
#block-views-block-servicios-block-1 .view-content .views-row .views-field.views-field-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}
#block-nosotros h2{
  text-align: center;
  
  margin-top: 50px;
}
#block-nosotros {
  max-width: 900px;
  margin: auto;
 
}
.conoce_mas{
  text-align: center;
}
.conoce_mas a{
  padding: 12px;
  border-radius: 31px;
  text-decoration: navajowhite;
  color: #fff;
  background-color: #5d67d6;
}
footer .region-footer {
  display: block !important;
}
#block-logopie{
  
  display: inline-block;
  margin: 20px;
}
.logo_pie img{
  max-width: 200px;
}
#block-navegacionprincipal {
  
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}
#block-redespie {
  border: 1px solid;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}
#block-textopie {
  
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}
.container-fluid.piso_1 {
  background: url('../images/circuits.svg');
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
  background-position-x: 570px;
  padding: 50px;
}
.container-fluid.piso_2 {
  background: url('../images/bg_3.png');
  background-color: #000;
  color: #fff; 
  padding: 50px;
  background-size: contain; 
}
.body_text {
  border: px solid;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.3);
}
.txt_bod{
  z-index: 100;
  color: #fff;
  opacity: 1;
  font-weight: 200;
}
#block-views-block-servicios-block-1 {
  position: relative;
  top: -300px;
}



